/*--------------------Global-----------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inconsolata", monospace;
}

:root {
    --cor01: #6015e2;
    --cor02: #3c1b79;
    --cor03: #511781;
    --cor04: #2b2635;
}

/*--------------------Body-----------------------*/
body {
    background-color: #030303;
}

nav ul {
    background-color: var(--cor01);
    list-style: none;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

nav ul li {
    display: inline;
}

nav ul li a {
    padding: 20px 8px;
    font-size: 1em;
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    background-color: var(--cor02);
    
}

nav ul li a:active {
    background-color: var(--cor03);
}

/*--------------------H1-----------------------*/
h1 {
    font-size: 3rem;
    text-align: center;
    color: #fff;
    margin-top: 8rem;
}

/*--------------------H2-----------------------*/
h2 {
    font-size: 3rem;
    text-align: center;
    color: #fff;
    margin: 3rem; 
}

/*--------------------Container-----------------------*/
#container {
    text-align: center;
    margin: 5%;
}

/*--------------------PersonImg-----------------------*/
#personimg {
    padding: 5px;
    width: 250px;
    height: 250px;
    background-image: linear-gradient(to bottom right, var(--cor02), #000);
    border-radius: 50%;
}
/*--------------------ContainerMain-----------------------*/
#contmain {
    width: 500px;
    margin: auto;
}


/*--------------------P-----------------------*/
p {
    text-align: center;
    color: #fff;
    font-size: 2rem;
}

/*--------------------Skills-----------------------*/
#skills {
    margin: 7rem 0 7rem 0;
    text-align: center;
    
    
}

.skills_hoover:hover {
    opacity: 85%;
    
}

/*--------------------Contacts-----------------------*/
#contacts {
    margin-top: 7rem;
    padding-bottom: 5rem;
    text-align: center;
    background-color: var(--cor04);
    
}

#contacts h2 {
    padding-top: 1rem;
}


.contact_hoover:hover {
    opacity: 80%;
}
/*--------------------Media-----------------------*/

@media only screen and (max-width: 600px) {
    #contmain {
        width: 300px;
    }

    nav ul li a {
        padding: 20px 2px;
        font-size: 10pt;

    }
    
    h1 {
     margin: 2em auto 0 auto;
    }

    #personimg {
        padding: 5px;
        width: 200px;
        height: 200px;
    }
}

/*--------------------Footer-----------------------*/

footer {
    padding: 15px;
    background-color: var(--cor01);
    width: 100%;
}

footer p {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
