/*--------------------Global-----------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inconsolata", monospace;
}


/*--------------------Body-----------------------*/
body {
    background-color: #030303;
}

nav ul {
    background-color: #6015e2;
    list-style: none;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

nav ul li {
    display: inline;
}

nav ul li a {
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    background-color: #3c1b79;
    
}

nav ul li a:active {
    background-color: #511781;
}

/*--------------------H1-----------------------*/
h1 {
    font-size: 3rem;
    text-align: center;
    color: white;
    margin: 4rem;
}

/*--------------------H2-----------------------*/
h2 {
    font-size: 3rem;
    text-align: center;
    color: white;
    margin: 4rem; 
}

/*--------------------Container-----------------------*/
#container {
    text-align: center;
    margin: 5%;
}

/*--------------------PersonImg-----------------------*/
#personimg {
    padding: 50px;
    background-image: linear-gradient(to bottom right, #6015e2, #050218);
    border-radius: 30px
}
/*--------------------ContainerMain-----------------------*/
#contmain {
    width: 500px;
    margin: auto;
}


/*--------------------P-----------------------*/
p {
    text-align: center;
    color: white;
    font-size: 2rem;
}

/*--------------------Skills-----------------------*/
#skills {
    margin: 7rem 0 7rem 0;
    text-align: center;
    
}

.skills_hoover:hover {
    opacity: 85%;
}


/*--------------------Contacts-----------------------*/
#contacts {
    margin-top: 7rem;
    padding-bottom: 5rem;
    text-align: center;
    background-color:   #2b2635;;
    
}

#contacts h2 {
    padding-top: 1rem;
}


.contact_hoover:hover {
    opacity: 80%;
}
/*--------------------Media-----------------------*/

@media only screen and (max-width: 500px) {
    #contmain {
        width: 400px;
    }
}

/*--------------------Footer-----------------------*/

footer {
    padding: 15px;
    background-color: #231046;

    width: 100%;
}

footer p {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

